@inherits ItemsOverviewComponent
@page "/items"

<div class="d-flex w-100 flex-wrap">
    @foreach (var item in Items)
    {
        <div class="card m-3">
            <div class="card-header">
                @item.Title
            </div>
            <div class="card-body">
                <p class="card-text">The cost of this item is approximately : @item.EstimatedCost @item.ItemCost</p>
                <p class="card-text">The importancy is : @item.Importancy</p>
                @if(item.TradeLink != null)
                {
                    <a class="card-text mb-3" href="@item.TradeLink">Trade link : @item.Title</a>
                }
                <br />
                @if (item.Description != null)
                {
                    <p class="card-text">Additional notes : @item.Description</p>
                }
                <a @onclick="() => DeleteItem(item.ItemId)" class="btn btn-secondary">Delete</a>
            </div>
        </div>
    }
</div>

@if (Items.Count() == 0)
{
    <h1>Add some item first please.</h1>
}

